body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

nav {
  /* background-color: #007B8A; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
}